
# BACKEND
BACKEND_API_URL=BACKEND_API_URL_FOR_USAGE_IN_BACKEND


# FRONTEND
NEXT_PUBLIC_BACKEND_API_URL=BACKEND_API_URL_FOR_USAGE_IN_FRONTEND

NODE_ENV=NODE_ENVIRONMENT_HERE

JWT_SECRET=JWT_SECRET_HERE